
# demonstration. Below you find some values to be sustituted by Ansible:
# by what is defined as a group_var {{group_var_test}} 
# by what is defined as a host {{host_var_test}}
# by what is defined as a group_var, substituted with a value in host var {{group_host_var_test}}


# Define which servers to include in the load balancing scheme. 
# It's best to use the servers' private IPs for better performance and security.
# You can find the private IPs at your UpCloud Control Panel Network section.
# hallo

upstream backend {
   server 10.100.199.202:8080; 
   server 10.100.199.203:8080;
}

# This server accepts all traffic to port 80 and passes it to the upstream. 
# Notice that the upstream name and the proxy_pass need to match.

server {
   listen 80; 

   location / {
      proxy_pass http://backend;
   }
}