
# demonstration. Below you find some values to be sustituted by Ansible:
# by what is defined as a group_var {{group_var_test}} 
# by what is defined as a host {{host_var_test}}
# by what is defined as a group_var, substituted with a value in host var {{group_host_var_test}}

server {
    return 404;
}

include upstreams/*.conf;

include servers/*.conf;

